*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(to bottom right,  #df6589ff 29%,#7A05A8, #5416FD );
    overflow: hidden;
}
hr{
    width: 80%;
    margin: auto;
}
.inputs{
    padding:9px;
    border: 2px solid black;
}
fieldset, textarea, .inputs, h1, h4{
    background-color: #fff;
}
input{
    margin-bottom: 25px;
}
fieldset{
    border: 1px #fff solid;
    margin: auto;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 39px;
    width: 55%;
}
h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
h4, .inputs{
    outline: none;
    font-size: 15px;
    margin-left: 30px;
}
#name_title{
    margin-top: 15px;
}
h1{
    margin: 15px auto;
}
textarea{
    width: 665.5px;
    max-width: 665.5px;
    height: 131px;
    margin-bottom: 0;
}
.sub_but{
    padding: 7px 15px;
    border-radius: 18px;
    margin: 15px auto 29px 1cm;
    font-size: 15px;
    border: none;
    background: #000;
    outline: none;
    cursor: pointer;
    color: #fff;
    transition: all 0.7s;
}
.sub_but:hover{
    background-color: #df6589ff;
    color: #000;
}
.sub_but:active{
    background-color: rgb(84, 22, 253);
    color: #df6589ff;
}
@media only screen and (max-width: 320px){
    fieldset{width: 100%;}
}
@media only screen and (min-width: 321px) and (max-width: 768px){
    body{
        height: 145vh; 
        background: repeating-linear-gradient(to bottom right,  #df6589ff,rgb(122, 5, 168),rgb(84, 22, 253));
    }
    fieldset{width: 72vw;}

    textarea, .inputs, h1, h4{
        margin: 10px auto;
        width: 50vw;
    }

    .inputs{display: block;}

    h4{margin-top: 21px;}
}
